# This explores the data set

In [1]:
import requests
import pandas as pd
import seaborn as sns
import librosa
import numpy as np

In [5]:
df = pd.read_csv("../data/all/pokemon_data_all.csv")
df.head()

,name,type_1,type_2,height,weight,hp,attack,defense,special-attack,special-defense,speed
0,bulbasaur,grass,poison,7,69,45,49,49,65,65,45
1,ivysaur,grass,poison,10,130,60,62,63,80,80,60
2,venusaur,grass,poison,20,1000,80,82,83,100,100,80
3,charmander,fire,None,6,85,39,52,43,60,50,65
4,charmeleon,fire,None,11,190,58,64,58,80,65,80

In [ ]:
df.describe()